@import '../../../variables.scss';

a {
    text-decoration: none
}

.table {
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.header {
  display: grid;
  grid-template-columns: 10% 20% 20% 40% 10%;
  text-align: left;
  font-weight: 500;
  padding-bottom: 20px;
}
@media (max-width: $extra-large-down) {
  .header {
    grid-template-columns: 10% 20% 20% 30% 20%;
  }
}
@media (max-width: $medium-down) {
  .header {
    display: none;
  }
  .table {
    padding: 0;
  }
}